.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}