.board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
}

.ceil {
  border: 2px solid #1976d2;
  background-color: #fff;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  color: #1976d2;
}

.ceil:hover {
  transition: .4s;
  background-color: rgba(183, 212, 243, 0.5);
  color: #fff;
}